.title{
  font-size: 40px;
  text-align: center;
}

.picture{
  width: 500px;
  display: block;
  margin: 0% auto;
}

.title-2{
  text-align: center;
}

.description{
  display: block;
  margin: 0% auto;
  width: 400px;
}

.ingredients{
  font-size: 14px;
  line-height: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 0 1rem;
}

.ingredients-title{
  text-align: center;
  text-decoration: underline;
}

.directions{
  text-align: center;
  text-decoration: underline;
}
.all-steps{
  width: 500px;
  display: block;
  margin: 0% auto;
  line-height: 30px;
}

.border{
  border-style: solid;
  font-family: Avenir;
  border-width: 0.5px;
  display: grid;
  place-items: center;
}

.steps{
  margin-bottom: 20px;
}

.made-it{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-color: royalblue;
}

.made-it:hover{
  background-color: royalblue;
  color: white;
}
