.border{
  border-style: solid;
  font-family: Avenir;
  border-width: 0.5px;
  display: grid;
  place-items: center;
}

.title{
  font-size: 48px;
  text-align: center;
}

.tiramisu-picture{
  width: 400px;
  display: block;
  margin: 0% auto;
}

.title-2{
  text-align: center;
}

.description{
  display: block;
  margin: 0% auto;
  width: 400px;
}

.ingredients-title{
  text-align: center;
  text-decoration: underline;
}

.ingredients{
  font-size: 14px;
  line-height: 30px;
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 0 1rem;
}

.directions{
  text-align: center;
  text-decoration: underline;
}

.all-steps{
  width: 500px;
  display: block;
  margin: 0% auto;
  line-height: 30px;
}