.main{
  font-family: Avenir;
  display: grid;
  place-items: center;
}

.title{
  text-align: center;
}

.chef-image{
  display: block;
  margin: 0% auto;
  width: 200px;
  margin-bottom: 0;
}

.italian-recipes{
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.recipes{
  display: grid;
  grid-template-columns: auto 1fr;
  place-items: center start;
  gap: 0 1rem;
  line-height: 30px;
  margin-top: 0px;
}

